# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://github.com/thieu1995/csv-files/blob/main/data/pandas/drinks.csv).

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/drinks.csv")

### Step 3. Assign it to a variable called drinks.

In [3]:
drinks = df

In [5]:
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

# *`Step 4. Which continent drinks more beer on average?`*

In [7]:
gb = drinks.groupby("continent").agg({
    "beer_servings" : "mean"
})

In [8]:
gb

           beer_servings
continent
AF             61.471698
AS             37.045455
EU            193.777778
OC             89.687500
SA            175.083333

### Step 5. For each continent print the statistics for wine consumption.

In [9]:
gb = drinks.groupby("continent").agg({
    "wine_servings" : "describe"
})

In [10]:
gb

          wine_servings                                                   \
                  count        mean        std  min   25%    50%     75%
continent
AF                 53.0   16.264151  38.846419  0.0   1.0    2.0   13.00
AS                 44.0    9.068182  21.667034  0.0   0.0    1.0    8.00
EU                 45.0  142.222222  97.421738  0.0  59.0  128.0  195.00
OC                 16.0   35.625000  64.555790  0.0   1.0    8.5   23.25
SA                 12.0   62.416667  88.620189  1.0   3.0   12.0   98.50


             max
continent
AF         233.0
AS         123.0
EU         370.0
OC         212.0
SA         221.0

### Step 6. Print the mean alcohol consumption per continent for every column

In [11]:
drinks.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### Step 7. Print the median alcohol consumption per continent for every column

In [12]:
drinks.groupby('continent').median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [13]:
drinks.groupby('continent').spirit_servings.agg(['mean','min','max'])

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302